service vendor.vibrator-sky /vendor/bin/hw/android.hardware.vibrator-service.sky
    class hal
    user system
    group system input

on fs
     chown system system /sys/class/leds/vibrator/activate
     chown system system /sys/class/leds/vibrator/duration
     chown system system /sys/class/leds/vibrator/vmax_mv